/* reset body */
body{
    margin: 0;
    padding: 0;
    background-color: #21262d;
    font-family: 'Roboto', sans-serif;
}
/* reset link style */
a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
a:hover{
    color: royalblue ; 
}

/* reset unordered list style */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* .dropdown list style */
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown .select{
    color : #000 ; 
    font-weight: bold;
    font-size: 20px;
    background-color: #00FA9A;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}

.dropdown .select:hover{
    color : royalblue ; 
    transition: 0.5s;
}

.options{
    background-color: #00FA9A;
    width: 600px;
    padding: 10px;
    border-radius: 25px;
    margin-top : 10px ; 
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : #000 ; 
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    display: none;
}


.options li:hover{
    color : royalblue ; 
    transition: 0.5s;
}

/* add this class to options when you want to show the options */
.active{
    display: flex;
}


.dropdown .options li{
    margin-top : 10px ; 
    cursor: pointer;
}


/* problem list style  */
.problems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: 	#20B2AA;
    width: 600px;
    /* padding: 10px; */
    border-radius: 5px ;
    margin: auto;
    margin-top : 20px ;
    color : brown ;
    font-weight: bold;
    font-size: 20px;
}

.problems div{
    cursor: pointer;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #00FA9A;
    margin : 3px ;
    line-height: 50px; 
    border : black solid 2px ;
}


.dropdown .select .up{
    display: none;
}

/* input box for handle style */
.handle_input{
    display : flex ; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 10px ; 
    margin : 20px ; 
}

.handle_input input{
    width : 400px ; 
    height : 30px ;
    border-radius : 5px ;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

/* reset input style */
.handle_input input:focus{
    outline : none ;
}


.handle_input .submit{
    width : 100px ; 
    height : 30px ;
    border-radius : 5px ;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #00FA9A;
    text-align: center;
    line-height: 30px;
}

.handle_input .submit:hover{
    color : royalblue ; 
    transition: 0.5s;
}




/* media query for responsive design */

@media(max-width : 700px){
    .handle_input input{
        width : 300px ; 
        height: 15px;
        font-size: 15px;
    }

    .dropdown .select{
        width: 400px;
        font-size: 15px;
        padding: 10px;
    }

    .dropdown .options{
        width: 400px;
        font-size: 15px;
        padding: 10px;
    }

    .problems{
        width: 400px;
        font-size: 15px;
    }
}


@media(max-width : 460px){
    .handle_input input{
        width : 200px ; 
        font-size: 10px;
    }

    .dropdown .select{
        width: 300px;
        font-size: 10px;
        padding: 7px;
    }

    .dropdown .options{
        width: 300px;
        font-size: 10px;
        padding: 7px;
    }

    .problems{
        width: 300px;
        font-size: 10px;
    }

    .problems div{
        height: 30px;
        line-height: 30px;
    }

    .problems div a{
        font-size: 10px;
    }
    .handle_input .submit{
        width : 50px ; 
        height : 20px ;
        font-size: 10px;
        line-height: 20px;
    }
}
